.cuerpo{

	width: 100%;
	min-height: 50vh;
	background-color: tomato;

}

div.caja1{
	width: 50%;
	background-color: turquoise;
	border: 1px solid gold;
}

div.caja2{
	width: 50%;
	background-color: red;
}
